body{
    background-color: rgb(163, 218, 152);
   
    margin-top: 100px;
}

table,th,td{
    width: 400px;
    background-color: rgb(230, 119, 152);
    text-align: center;
    align-items: center;
   
    border: 2px solid rgb(175, 13, 94);
    border-radius: 5px;
    padding: 10px;
}

#num{
    margin-left: 80px;
    height: 30px;
    width: 200px;
    
}

#btn{
    height: 35px;
    width: 80px;
    background-color: rgb(196, 162, 69);
    border-radius: 10px;
}
#highlight{
    font-style: inherit;
    text-align: left;
    padding: 10px;
}
